<div class="row">
  <div class="col-8">
    <h2><%= @artist.name %> <small class="text-muted">Songs</small></h2>
  </div>
  <div class="col-4 text-sm-right">
    <%= link_to "Back", artist_path(@artist), class: "btn btn btn-link" %>
  </div>
</div>

<br/>

<% if @songs.empty? %>
<div class="row">
  <div class="col-8">
  <p>No Songs...</p>
  </div>
</div>
<% else %>
<ul>
  <% @songs.each do |song| %>
    <li><%= song.name %></li>
  <% end %>
</ul>
<% end %>