<div class="row">
  <div class="col-8">
    <h2>Song <small class="text-muted"><%= @song.name %></small></h2>
  </div>
  <div class="col-4 text-sm-right">
    <%= link_to "Back", artist_album_songs_path(@artist, @album), class: "btn btn btn-link" %>
  </div>
</div>

<br/>


