<div class="row">
  <div class="col-xs-12 col-sm-6 offset-sm-3">
  <%= form_for @playlist do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <%= f.submit class: "btn btn-primary" %>
  <% end %>
  </div>
</div>