<div class="row">
  <div class="col-8">
    <h2>Playlist <small class="text-muted"><%= @playlist.name %></small></h2>
  </div>
  <div class="col-4 text-sm-right">
    <% if logged_in? && is_owner(@playlist.user_id) %>
      <%= link_to "Add Song", {controller: "playlists", action: "playlist_songs"}, class: "btn btn btn-primary" %>
    <% end %>
  </div>
</div>

<br/>

<% if @playlist.songs.empty? %>
<div class="row">
  <div class="col-8">
    <p>No Songs...</p>
  </div>
</div>
<% else %>
<div class="row">
  <div class="col-8">
    <ul>
    <% @playlist.songs.each do |song| %>
      <li>
        <h5><%= song.name %></h5>
      </li>
    <% end %>
    </ul>
  </div>
</div>
<% end %>
